@import '../../globals.scss';

.header {
  @include displayFlex(row, space-between, center);
  width: 100vw;
  height: 8rem;
  padding: 0 1.5rem;
  background-color: $background-color;
  color: white;

  .logo {
    img {
      width: 22rem;
    }
  }

  .login-buttons {
    @include displayFlex(row, center, center, 1.5rem);
  }
}